:root{
  --main-color: #58d68d;
  --second-color: #229954;
  --third-color: #1d8348;
  --shadow-color: #C0C0C0;
  --active-shadow: black;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
#change_theme{
  display: flex;
  border: 0;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--third-color);
}
header {
  width: 100%;
  height: 20px;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid var(--third-color);
}
.info{
  line-height: 5px;
  padding: 10px;
  margin: 3%;
  border: 2px solid var(--second-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
  font-family: Arial;
}
.block{
  box-shadow: 4px 4px 1px 1px var(--shadow-color);
  transition: 1s;
}
.block:hover{
  box-shadow: 4px 4px 1px 1px var(--active-shadow);
  transition: .5s;
}
.info img{
  height: 100%;
}
.info .summary{
  margin-left: 15px;
}
